*.la
*.lo
*.o
/.deps/
/.libs/
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/sciplot-realtime
/sciplot-realtime.1
/sciplot-xyplot
/sciplot-xyplot.1
/stamp-h1
Makefile
Makefile.in
