Source: sciplot
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper-compat (= 13),
	pkgconf,
	help2man,
	libgtk-4-dev, libcairo2-dev, libpango1.0-dev,
Standards-Version: 4.7.4
Section: science
Homepage: https://github.com/barak/sciplot
Vcs-Git: https://salsa.debian.org/debian/sciplot.git
Vcs-Browser: https://salsa.debian.org/debian/sciplot

Package: libsciplot2
Conflicts: libsciplot1t64 (= 1.37-1)
Section: libs
Multi-Arch: same
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: widget for scientific plotting
 The SciPlot Widget is a GTK4/Cairo-based widget capable of plotting
 Cartesian or polar graphs, including logarithmic axes in Cartesian plots.
 .
 Features provided in the widget include automatic scaling, legend drawing,
 axis labeling, PostScript output, multiple plotted lines, color support,
 user font specification, dashed lines, symbols drawn at points, logarithmic
 scales on one or both axes in Cartesian plots, and degrees or radians as
 angles in polar plots.

Package: libsciplot-dev
Section: libdevel
Multi-Arch: same
Architecture: any
Depends: libsciplot2 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: sciplot-dev
Description: Development library and header files for SciPlot
 Contains C header files and development shared libraries for SciPlot.
 The SciPlot Widget is a GTK4/Cairo-based widget capable of plotting
 Cartesian or polar graphs, including logarithmic axes in Cartesian plots.

Package: sciplot-bin
Section: graphics
Architecture: any
Depends: libsciplot2 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Example programs for SciPlot
 This package contains two small programs that use the SciPlot
 library: sciplot-xyplot and sciplot-realtime.
 The SciPlot Widget is a widget capable of plotting Cartesian or polar
 graphs, including logarithmic axes in Cartesian plots.
