Source: sciplot
Priority: extra
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 8),
	lesstif2-dev, libxmu-dev, xutils-dev
Standards-Version: 3.9.1
Section: science
Vcs-Git: git://git.debian.org/git/collab-maint/sciplot.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/sciplot.git

Package: sciplot1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: sciplot
Conflicts: sciplot
Description: widget for scientific plotting
 The SciPlot Widget is a widget capable of plotting Cartesian or polar
 graphs, including logarithmic axes in Cartesian plots.  The widget is
 subclassed directly from the Core widget class, which means that it does
 not depend upon any other widget set.  It may be freely used with Athena,
 Motif, or the Open Look/Xview widget sets.  (There is optional Motif
 support that causes the widget to be subclassed from XmPrimitive.  See
 the man page.)
 .
 Features provided in the widget include automatic scaling, legend drawing,
 axis labeling, PostScript output, multiple plotted lines, color support,
 user font specification, dashed lines, symbols drawn at points, logarithmic
 scales on one or both axes in Cartesian plots, and degrees or radians as
 angles in polar plots.

Package: sciplot-dev
Section: libdevel
Architecture: any
Depends: sciplot1 (= ${binary:Version}), ${misc:Depends}
Conflicts: sciplot
Description: Development library and header files for SciPlot
 Contains C header files and development shared libraries for SciPlot.
 The SciPlot Widget is a widget capable of plotting Cartesian or polar
 graphs, including logarithmic axes in Cartesian plots.
