#!/usr/bin/make -f
package=sciplot

# Create the two so version strings for the symbolic link names
#
command=/usr/lib/dpkg/parsechangelog/debian <debian/changelog
v1 := $(shell $(command) |sed -n '/Version: /s;;;p' |sed -e 's/\..\+//')
v2 := $(shell $(command) |sed -n '/Version: /s;;;p' |sed -e 's/-.\+//')

%:
	dh $@

override_dh_auto_build:
	xmkmf
	$(MAKE) static
	rm -f *.o
	$(MAKE) MA_N=$(v1) MI_N=$(v2) PICFLAG=-fPIC shared

# dh_installchangelogs CHANGES
